<center>
<div class="card card-back">
	<div class="logo">
	</div>
	
	<div class="category">
	</div>
	
	<div class="caption">
		Card Back
	</div>
	
	<div class="qrcode">
		<center>
			<%= image_tag "qrcode.png" %>
	
	</div>
</div>

<div class="inputs">
	<div class="title">Question:</div>
	<textarea id="question-input" rows="4"></textarea>
	
	<div class="title">Hint / Options:</div>
	<textarea id="hint-input" rows="4"></textarea>
	
	<div class="title">Answer:</div>
	<textarea id="answer-input" rows="2"></textarea>
	
	<div class="title">Details:</div>
	<textarea id="details-input" rows="4"></textarea>
	
	<div class="title">Reference:</div>
	<textarea id="reference-input" rows="2"></textarea>
	
	<div class="title">Primary Category:</div>
	<textarea id="primary-category-input" rows="1"></textarea>
	
	<div class="title">Secondary Categories:</div>
	<textarea id="secondary-category-input" rows="1"></textarea>
	
	<select id="difficulty-input">
		<option selected="true">Difficulty Class</option>
		<option>Elementary</option>
		<option>Intermediate</option>
		<option>Master</option>
	</select>
	
	<select id="era-input">
		<option selected="true">Era of Relevance</option>
		<option>Elementary</option>
		<option>Intermediate</option>
		<option>Master</option>
	</select>
	
	<button class="ok">Submit for review</button>
	<button class="cancel" onclick="clear_fields()">Clear Fields</button>
</div>

<div class="card card-front">
	<div class="question">
	</div>
	
	<div class="hint">
	</div>
	
	<div class="answer-block">
		<div class="answer">
		</div>
		
		<div class="details">
		</div>
		
		<div class="reference">
		</div>
	</div>
	
	<div class="caption">
		Card Face
	</div>
</div>
</center>

