
<div class="navbar">
	<span class="logo">Open Trivia</span>
</div>

	
<div class="card card-back">
	<div class="logo">
	</div>
	
	<div class="category">
	</div>
	
	<div class="caption">
		Card Back
	</div>
	
	<div class="qrcode">
		<center>
			<%= image_tag "qrcode.png" %>
	
	</div>
</div>

<div class="inputs">
	Question:
	<textarea id="question-input" rows="4"></textarea>
	
	Hint / Options:
	<textarea id="hint-input" rows="4"></textarea>
	
	Answer:
	<textarea id="answer-input" rows="2"></textarea>
	
	Details:
	<textarea id="details-input" rows="4"></textarea>
	
	Reference:
	<textarea id="reference-input" rows="2"></textarea>
	
	Primary Category:
	<textarea id="primary-category-input" rows="1"></textarea>
	
	Secondary Categories:
	<textarea id="secondary-category-input" rows="1"></textarea>
	
	<select id="difficulty-input">
		<option selected="true">Difficulty Class</option>
		<option>Elementary</option>
		<option>Intermediate</option>
		<option>Master</option>
	</select>
	
	<select id="era-input">
		<option selected="true">Era of Relevance</option>
		<option>Elementary</option>
		<option>Intermediate</option>
		<option>Master</option>
	</select>
</div>

<div class="card card-front">
	<div class="question">
	</div>
	
	<div class="hint">
	</div>
	
	<div class="answer-block">
		<div class="answer">
		</div>
		
		<div class="details">
		</div>
		
		<div class="reference">
		</div>
	</div>
	
	<div class="caption">
		Card Front
	</div>
</div>

