<div id="navbar">
	<span class="logo">Open Trivia</span>
	<span id="nav" class="menu-container">
		<a href="browser">Browse</a><a href="builder">Build</a><a class="selected" href="creator">Contribute</a>
	</span>
</div>
